* {
  box-sizing: border-box;
}
html {
 scroll-behavior: smooth;  
 overflow-x: hidden;
}
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  padding-top: 20px;
  background-color: #fff;
	transition: background 0.2s linear;
}
/* style
Dark mode
end */
.dark-mode {
  position: absolute;
  top: 60px;
  right: 3%;
  bottom: 0;
}
.dark-mode i{
 font-size: 18px;
}
body.dark {
  background: #292C35;
  color: #fff;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}



.head-icon i {
  float: none;
  transform: rotate(-50deg);
  padding: 0;
  margin: 0;
  color: rgb(245, 245, 9);
}
.active-item {
  border: 3px solid rgb(241, 146, 129);
  transform: scale(1, 1.2);
}

.item-list .active-item {
  background-color: rgb(174, 240, 174);
}
.item-list h2{
  color: rgb(121, 115, 115);
}
ol {
  font-size: 18px;
  color: #333;
  font-weight: 400;
}
h1 {
  color: rgb(211, 101, 81);
}
h2::after,
h3::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 6.5rem;
  background-color: rgb(241, 115, 92);
  margin: 20px auto;
}
.error{
  background-color: rgb(221, 72, 45);
}
label {
  font-size: 20px;
  font-weight: bold;
  padding: 4px 2px;
}

.item-list li {
  margin: 0px 5px 20px;
  padding: 8px 12px;
  background-color: rgb(204, 255, 204);
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.use-btn,
.submit-btn {
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(221, 19, 73, 0.822);
  outline: 0;
  color: #fff;
}
.use-btn:hover,
.submit-btn:hover {
  background-color: rgba(182, 37, 76, 0.973);
  color: #fff;
}
.use-btn:focus,
.submit-btn:focus {
  outline: 0;
}
input[type="text"],
input[type="number"] {
  width: 350px;
}

.error {
  color: #fff;
  border-radius: 6px;
}

.show-name li {
  text-align: left;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  padding: 10px 4px;
  margin: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  width: 320px;
  font-weight: 600;
  border-radius: 4px;
}

.show-output {
  margin-left: 20px;
  padding: 5px 6px;
  background: rgba(224, 61, 104, 0.973);
  text-transform: capitalize;
  color: #eee;
  font-size: 16px;
}
i {
  float: right;
  font-size: 25px;
  color: rgba(214, 46, 16, 0.911);
}
#list ol {
  cursor: pointer !important;
}
.delete {
  margin: 0;
  padding: 0;
}
i:focus {
  outline: 0;
}

.star {
  color: rgb(248, 55, 55);
  font-size: 25px;
  margin: 0;
  padding: 0;
}
li img {
  float: right;
  margin: 0;
  padding: 0;
  color: tomato;
}

footer {
  background-color: rgba(230, 93, 59, 0.507);
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0;
}
footer li i {
  color: rgb(235, 88, 62);
  font-size: 35px;
}

.modal-body {
  font-size: 18px;
  font-weight: 400;
  color: tomato;
}

input:focus,
button:focus,
i:focus {
  outline-color: none !important;
  outline: 0 !important;
}

/* SCROLL DOWN */

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.scroll-down span i {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.scroll-down span {
  position: relative;
  -webkit-animation: 3s arrow infinite ease;
  animation: 2s arrow infinite ease;
  z-index: 100;
  padding-bottom: 20px;
  margin: 0;
}
@-webkit-keyframes arrow {
  0% {
    top: 10px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
}
@keyframes arrow {
  0% {
    top: 10px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
}

/* top and buttom style */
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  left:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}


.delete {
  cursor: pointer;
}

.playing{
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(221, 72, 45);
  padding: 3px 6px;
  color: #fff;
  border-radius: 5px;


}

@media screen and (max-width: 576px) {
  body {
    font-size: 90%;
  }
  .item-list li {
    margin: 0px 4px 15px;
    padding: 10px 10px;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
 
}

@media screen and (max-width: 320px) {
  input[type="text"],
  input[type="number"] {
    width: 280px;
  }

  .show-name li {
    font-size: 14px;
    color: #000;
    padding: 10px 4px;
    margin: 10px 0;
    width: 250px;
    font-weight: 400;
  }
  .item-list li {
    margin: 0px 5px 14px;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: 13px;
    color: #000;
    font-weight: 300;
    cursor: pointer;
  }
  .playing{
    font-size: 14px;
    max-width: 100%;

  }
}




/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 100;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid rgba(224, 61, 104, 0.973);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: rgba(224, 61, 104, 0.973);
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #f5c70d;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
  background: rgba(224, 61, 104, 0.973);
	border: 1px solid #ddd;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}